    <style type="text/css">
 
</style>

    <footer id="footer" class="footer ">
        <div class="first-footer">
            <div class="container">
                <div class="row">
                  {{ block_show('jianmo:bottom_info') }}  
                </div>
            </div>
        </div>

        <div class="second-footer">
            <div class="container">
                <div class="contact">
                    <div class="email">
                        <i class="icon md-email"></i>
                        <a href="#">www.smeagonline.com</a>
                    </div>
                    <div class="phone">
                        <i class="fa fa-mobile"></i>
                        <span>+84 | +63 9062255428</span>
                    </div>
                    <div class="address">
                        <i class="fa fa-map-marker"></i>
                        <span>Gochan St. Mabolo Cebu City</span>
                    </div>
                </div>
                <p class="copyright"> {% include "TopxiaWebBundle::powered-by.html.twig" %}</p>
            </div>
        </div>
    </footer>