{% if setting('copyright.owned') %}
  {% if setting('copyright.name') %}
    Powered by <a href="{{ path('homepage') }}" target="_blank">{{ setting('copyright.name') }}</a>
  {% endif %}
{% else %}
  Powered by <a href="http://www.smeagonline.com/" target="_blank">SMEAG线上英语 v{{ constant('\\Topxia\\System::VERSION') }}</a>
  ©2014-2015 <a class="mlm" href="http://www.smeagonline.com/" target="_blank">Hwang Sunjae</a>
{% endif %}